@import "base.css";
@import "reset.css";
@import "global.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300;400;500;600&display=swap");
.currentColor {
  width: 100%;
  height: 100px;
  top: 20px;
  left: 0;
  position: fixed;
  z-index: 4;
}

nav {
  background-color: var(--transparent-nav-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 5%;
  z-index: 5;
  backdrop-filter: blur(30px);
}
nav .navItems {
  max-width: 1800px;
  margin: 0 auto;
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navItems .logo {
  height: 100%;
}
nav .navItems .logo path {
  fill: var(--primary-text-color);
}

main {
  width: 100%;
  padding-top: 100px;
  max-width: 1800px;
  margin: 0 auto;
}
main .topBar {
  width: 100%;
  padding-block: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .topBar .tabs .text {
  display: flex;
}
main .topBar .tabs .text button {
  border-radius: 0px;
  background-color: transparent;
  padding: 10px 0;
  font-size: 24px;
  color: var(--secondary-text-color);
  transition: color 300ms;
}
main .topBar .tabs .text .tints {
  width: 100px;
}
main .topBar .tabs .text .combinations {
  width: 210px;
}
main .topBar .tabs .text .contrast {
  width: 150px;
}
main .topBar .tabs .text button.active {
  color: var(--primary-text-color);
}
main .topBar .tabs .text button:hover {
  color: var(--primary-text-color);
}
main .topBar .tabs .underline {
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
}
main .topBar .tabs .underline .indicator {
  width: 100px;
  height: 2px;
  background-color: var(--primary-text-color);
  transition: transform 300ms, width 300ms;
}
main .topBar .tabs .underline .onCombinations {
  width: 210px;
  transform: translateX(100px);
}
main .topBar .tabs .underline .onContrast {
  width: 150px;
  transform: translateX(310px);
}
main .topBar .inputItem {
  height: var(--input-item-height);
  background-color: var(--secondary-color);
  padding: 20px;
  width: 200px;
  color: var(--primary-text-color);
}
main .topBar .dropDown {
  border: solid 2px var(--secondary-color);
  outline: none;
  position: relative;
  cursor: pointer;
}
main .topBar .dropDown svg {
  transition: transform 300ms;
}
main .topBar .dropDown svg path {
  stroke: var(--primary-text-color);
}
main .topBar .dropDown .dropDownOptions {
  z-index: 3;
  position: absolute;
  bottom: 0;
  transform: translateY(102%);
  width: 100%;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms, transform 300ms;
}
main .topBar .dropDown .dropDownOptions button {
  outline: none;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  color: inherit;
  border-radius: 0;
  text-align: left;
}
main .topBar .dropDown .dropDownOptions button:hover,
main .topBar .dropDown .dropDownOptions button:focus {
  background-color: var(--secondary-color);
}
main .topBar .dropDown:hover {
  border: solid 2px var(--secondary-text-color);
}
main .topBar .dropDown[data-show-options=true] svg {
  transform: rotate(180deg);
}
main .topBar .dropDown[data-show-options=true] .dropDownOptions {
  transform: translateY(100%);
  opacity: 1;
  pointer-events: all;
}
main .topBar .tabDropdown {
  display: none;
  width: 100%;
  border: solid 2px var(--secondary-text-color);
}
main .topBar .currentColor {
  width: 50%;
  padding: 20px;
  border-radius: 12px;
}
main .topBar .currentColor p {
  font-size: 24px;
  font-weight: 400;
}
main .topBar .optionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: var(--primary-text-color);
}
main .topBar .optionsContainer h3 {
  font-weight: 300;
}

.tintsView,
.combinationsView {
  width: 100%;
}
.tintsView .spectrumView,
.combinationsView .spectrumView {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
}
.tintsView .spectrumView .titleBar,
.combinationsView .spectrumView .titleBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tintsView .spectrumView .titleBar h1,
.combinationsView .spectrumView .titleBar h1 {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 24px;
}
.tintsView .spectrumView .titleBar button,
.combinationsView .spectrumView .titleBar button {
  background-color: transparent;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.tintsView .spectrumView .titleBar button svg,
.combinationsView .spectrumView .titleBar button svg {
  transition: transform 300ms;
}
.tintsView .spectrumView .titleBar button svg path,
.combinationsView .spectrumView .titleBar button svg path {
  stroke: var(--primary-text-color);
}
.tintsView .spectrumView .titleBar .showMore svg,
.combinationsView .spectrumView .titleBar .showMore svg {
  transform: rotate(180deg);
}
.tintsView .spectrumView .colorsContainer,
.combinationsView .spectrumView .colorsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  overflow: auto;
  margin-top: 30px;
}
.tintsView .spectrumView .colorsContainer .colorBlock,
.combinationsView .spectrumView .colorsContainer .colorBlock {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.tintsView .spectrumView .colorsContainer .colorBlock svg,
.combinationsView .spectrumView .colorsContainer .colorBlock svg {
  height: 42px;
  width: 42px;
}
.tintsView .spectrumView .colorsContainer .colorBlock svg,
.tintsView .spectrumView .colorsContainer .colorBlock p,
.combinationsView .spectrumView .colorsContainer .colorBlock svg,
.combinationsView .spectrumView .colorsContainer .colorBlock p {
  opacity: 0;
  transform: translateY(5px);
  transition: transform 300ms, opacity 300ms;
}
.tintsView .spectrumView .colorsContainer .colorBlock:hover svg,
.tintsView .spectrumView .colorsContainer .colorBlock:hover p,
.combinationsView .spectrumView .colorsContainer .colorBlock:hover svg,
.combinationsView .spectrumView .colorsContainer .colorBlock:hover p {
  opacity: 1;
  transform: translateY(0);
}
.tintsView .spectrumView .textContainer,
.combinationsView .spectrumView .textContainer {
  width: 100%;
  margin-top: 30px;
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 20px;
  color: var(--primary-text-color);
  font-family: "Fira Code", monospace;
  position: relative;
}
.tintsView .spectrumView .textContainer .copyButton,
.combinationsView .spectrumView .textContainer .copyButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 300ms;
}
.tintsView .spectrumView .textContainer .copyButton svg,
.combinationsView .spectrumView .textContainer .copyButton svg {
  width: 42px;
  height: 42px;
}
.tintsView .spectrumView .textContainer .copyButton svg path,
.combinationsView .spectrumView .textContainer .copyButton svg path {
  stroke: var(--secondary-text-color);
  transition: stroke 300ms;
}
.tintsView .spectrumView .textContainer .copyButton:hover,
.tintsView .spectrumView .textContainer .colorBlock:focus,
.combinationsView .spectrumView .textContainer .copyButton:hover,
.combinationsView .spectrumView .textContainer .colorBlock:focus {
  background-color: var(--transparent-nav-color);
}
.tintsView .spectrumView .textContainer .copyButton:hover svg path,
.tintsView .spectrumView .textContainer .colorBlock:focus svg path,
.combinationsView .spectrumView .textContainer .copyButton:hover svg path,
.combinationsView .spectrumView .textContainer .colorBlock:focus svg path {
  stroke: var(--primary-text-color);
}
.tintsView .spectrumView .notificationContainer,
.combinationsView .spectrumView .notificationContainer {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 350px;
  display: grid;
  grid-template-areas: "stack";
  z-index: 8;
}
.tintsView .spectrumView .notificationContainer div,
.combinationsView .spectrumView .notificationContainer div {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 200ms;
  grid-area: stack;
  background-color: var(--primary-text-color);
  color: var(--primary-color);
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.tintsView .spectrumView .notificationContainer .notification,
.combinationsView .spectrumView .notificationContainer .notification {
  opacity: 1;
  transform: translateY(0);
}

.contrastContainer {
  width: 100%;
  padding: 30px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  border-radius: 12px;
  color: var(--primary-text-color);
}
.contrastContainer .inputFields {
  width: 400px;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.contrastContainer .inputFields p {
  font-size: 20px;
}
.contrastContainer .inputFields .contrastData {
  width: 100%;
  padding: 20px;
  color: #000;
  border-radius: 12px;
}
.contrastContainer .inputFields .contrastData h2 {
  font-size: 36px;
  font-weight: 400;
}
.contrastContainer .inputFields .contrastData h5 {
  font-size: 24px;
  font-weight: 400;
}
.contrastContainer .showCase {
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 100px 20%;
  text-align: center;
}
.contrastContainer .showCase h3 {
  font-size: 48px;
}
.contrastContainer .showCase h5 {
  font-size: 20px;
}

@media screen and (max-width: 1590px) {
  .contrastContainer .showCase h3 {
    font-size: 32px;
  }
  .contrastContainer .showCase h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .tintsView .spectrumView .colorsContainer {
    flex-direction: column;
  }
  .tintsView .spectrumView .colorsContainer .colorBlock {
    height: unset;
    padding: 10px 0;
  }
  .tintsView .spectrumView .colorsContainer .colorBlock svg {
    display: none;
  }
  .tintsView .spectrumView .colorsContainer .colorBlock p {
    opacity: 1;
    transform: translateY(0);
  }
  .combinationsView .spectrumView .colorsContainer .colorBlock svg {
    display: none;
  }
  .combinationsView .spectrumView .colorsContainer .colorBlock p {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1150px) {
  main .topBar {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  main .topBar .optionsContainer h3 {
    display: none;
  }
  .contrastContainer {
    flex-direction: column;
  }
  .contrastContainer .inputFields {
    max-width: unset;
    width: 100%;
  }
  .contrastContainer .inputFields .colorPicker {
    max-width: unset;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  nav .logo {
    display: none;
  }
  nav .colorPicker {
    width: 100%;
  }
  main .topBar {
    padding-block: 50px 30px;
  }
  .combinationsView .spectrumView .colorsContainer {
    flex-direction: column;
  }
  .combinationsView .spectrumView .colorsContainer .colorBlock {
    height: unset;
    padding: 10px 0;
  }
  .combinationsView .spectrumView .colorsContainer .colorBlock svg {
    display: none;
  }
  .combinationsView .spectrumView .colorsContainer .colorBlock p {
    opacity: 1;
    transform: translateY(0);
  }
  .combinationsView .spectrumView, .tintsView .spectrumView {
    padding: 20px;
  }
  .combinationsView .spectrumView .colorsContainer, .combinationsView .spectrumView .textContainer, .tintsView .spectrumView .colorsContainer, .tintsView .spectrumView .textContainer {
    margin-top: 20px;
  }
  .contrastContainer {
    padding: 20px;
    gap: 20px;
  }
}
@media screen and (max-width: 550px) {
  main .topBar {
    gap: 20px;
  }
  main .topBar .optionsContainer {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  main .topBar .optionsContainer .dropDown {
    width: 100%;
  }
  main .topBar .tabs {
    display: none;
  }
  main .topBar .tabDropdown {
    display: flex;
  }
  .contrastContainer .showCase {
    padding: 50px 10%;
  }
  .contrastContainer .showCase h3 {
    font-size: 24px;
  }
  .contrastContainer .showCase h5 {
    font-size: 18px;
  }
}