@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300;400;500;600&display=swap");
@import 'base.css';
@import 'reset.css';
body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

#app {
  padding: 0 5%;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.inputItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --input-item-height: 64px;
  border-radius: 12px;
  background-color: var(--primary-color);
  transition: border 300ms;
}