@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app {
	* {
		font-family: 'Montserrat', sans-serif;
	}
	button:hover {
		cursor: pointer;
	}
}

.inputWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 2px #d7d7d7;
    max-width: 400px;
	border-radius: 12px;
	transition: all 200ms;
	input[type='text'] {
		font-size: 24px;
		width: 100%;
		height: 100%;
		border: none;
		padding: 20px;
		outline: none;
		background-color: transparent;
	}
	.pickedColor {
		height: 100%;
		padding: 20px;
		aspect-ratio: 1/1;
		.thisColor {
			background-color: #000;
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}
	}
	.colorPicker {
		position: relative;
		display: grid;
		place-items: center;
		input {
			height: 64px;
			width: 64px;
			opacity: 0;
			grid-row: 1/2;
			grid-column: 1/2;
		}
		svg {
			grid-row: 1/2;
			grid-column: 1/2;
		}
		input:focus ~ svg {
			* {
				stroke: #000;
			}
		}
		input:hover {
			cursor: pointer;
		}
	}
	.colorPicker::before {
		content: '';
		height: 50px;
		width: 2px;
		border-radius: 1px;
		background-color: #d7d7d7;
		position: absolute;
		top: 50%;
		left: -2px;
		transform: translateY(-50%);
	}
}
.inputWrapper:hover {
	border-color: #8d8d8d;
}
.inputWrapper:focus-within {
	border-color: #000;
}

nav {
	width: 100%;
	height: 125px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10%;
	background-color: #f9f9f9;
	border-bottom: solid 2px #d7d7d7;
	z-index: 10;
	.navItems {
		width: 100%;
		max-width: 1920px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			height: 40%;
		}
		.filterBar {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
			.reGenerate {
				height: 75px;
				width: 250px;
				font-size: 28px;
				font-weight: 500;
				padding: 0 20px;
				background-color: transparent;
				border: 2px solid #8001dd;
				border-radius: 12px;
				color: #8001dd;
				transition: all 300ms;
			}
			.reGenerate:hover {
				background-color: #8001dd;
				color: #fff;
			}
		}
		.topContainer {
            width: 100%;
			max-width: 1920px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			h1 {
                font-size: 36px;
				font-weight: 400;
			}
		}
		.menuToggle{
			display: none;
			background-color: transparent;
			border: none;
			position: relative;
		}
		.menu{
			padding-top: 80px;
			display: none;
			justify-content: center;
			gap: 20px;
			position: fixed;
			top: 0;
			right: 0;
			height: 100vh;
			width: 90%;
			background-color: white;
			z-index: 15;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
			transform: translateX(100%);
			transition:  transform 300ms;
			.filterBar{
				flex-direction: column;
				height: fit-content;
				>*{
					width: 80%;
					max-width: unset;
				}
			}
			.closeMenu{
				position: absolute;
				top: 20px;
				right: 20px;
				background-color: transparent;
				border: none;
			}
		}
		.showMenu{
			box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.25);
			transform: translateX(0);
		}
	}
    @media screen and (max-width: 1600px) {
        .navItems{
            img{
                display: none;
            }
            .topContainer{
                .filterBar{
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
    }
	
}



.dropdownMenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	border: solid 2px #d7d7d7;
	border-radius: 12px;
	padding: 20px;
	position: relative;
	background-color: transparent;
	transition: all 200ms;
	p {
		height: 100%;
		font-size: 24px;
		color: #8d8d8d;
		transition: all 200ms;
	}
	.filterActive {
		color: #000;
	}
	svg {
		transition: all 300ms;
	}
	.filterOptions {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 10;
		transform: translateY(100%);
		background-color: #d7d7d7;
		overflow: hidden;
		display: flex;
		gap: 1px;
		flex-direction: column;
		transition: all 300ms;
		border-radius: 7px;
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
		button {
			width: 100%;
			padding: 20px;
			background-color: #fff;
			font-size: 20px;
			font-weight: 300;
			text-align: left;
			border: none;
			outline: none;
		}
		button:hover,
		button:focus {
			filter: brightness(0.95);
		}
	}
}
.dropdownMenu:hover, .dropdownMenu:focus {
	cursor: pointer;
	border-color: #8d8d8d;
	.filterOptions {
		opacity: 1;
		pointer-events: all;
	}
	svg {
		transform: rotate(180deg);
	}
}

.spectrumSection {
	width: 100%;
	min-height: 100vh;
	padding: 50px 10%;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 155px;
	gap: 50px;
	overflow: hidden;
	.spectrumContainer {
		width: 100%;
		max-width: 1920px;
		background-color: #fff;
		box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
		border-radius: 12px;
		padding: 30px;
		.spectrumTopBar {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			button {
				display: flex;
				align-items: center;
				gap: 10px;
				background-color: transparent;
				border: none;
				font-size: 20px;
				padding: 10px;
				border-radius: 7px;
				font-weight: 500;
				transition: all 300ms;
			}
			button:hover {
				background-color: #e2e2e2;
			}
		}
		.spectrum {
			margin-top: 30px;
			width: 100%;
            height: 300px;
			display: flex;
			border-radius: 12px;
			overflow-x: auto;
		}
		.copyContainer {
            position: relative;
			margin-top: 30px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 30px;
			overflow: hidden;
			transition: height 300ms;
            .copyButton{
                background-color: #f2f0ed;
                border: none;
                position: absolute;
                top: 20px;
                right: 20px;
                svg{
                    *{
                        transition: all 300ms;
                    }
                }
            }
            .copyButton:hover{
                svg{
                    *{
                        stroke: #000;
                    }
                }
            }
			.copyOptions {
				display: flex;
				align-items: center;
				gap: 20px;
			}
			@media screen and (max-width: 550px) {
				.copyOptions{
					flex-direction: column;
					>*{
						width: 100%;
					}
				}
				.copyButton{
					top: 10px;
					right: 10px;
				}
			}
			.copyText {
				width: 100%;
				border-radius: 12px;
				background-color: #f2f0ed;
				padding: 20px;
				p {
					font-family: 'Fira Code', monospace;
					font-size: 20px;
				}
				.colorText {
					margin-left: 20px;
				}
			}
		}
	}
	.copyConfirm{
		position: fixed;
		left: 50%;
		bottom: 10px;
		background-color: #000;
		padding: 15px 30px;
		color: white;
		transform: translate(-50%, 100%);
		opacity: 0;
		pointer-events: none;
		transition: all 300ms;
		z-index: 20;
		font-size: 24px;
		border-radius: 7px;
	}
	.showCopyConfirm{
		transform: translate(-50%, 0);
		opacity: 1;
	}
}

.color {
	width: 100%;
	height: 100%;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	svg,
	p,
	h3 {
		opacity: 0;
		transform: translateY(5px);
		pointer-events: none;
		transition: all 200ms;
	}
	svg {
		width: 64px;
		height: 64px;
	}
	p {
		font-weight: 500;
		font-size: 20px;
	}
	.copied {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}
}
.color:hover {
	cursor: copy;
	svg,
	p {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}
}

@media screen and (max-width: 900px) {
	nav{
		height: 100px;
		.navItems{
			img{
				display: block;
			}
			.topContainer{
				display: none;
			}
			.menuToggle, .menu{
				display: flex;
			}
		}
	}
	.spectrumSection{
		padding-top: 130px;
	}
}
@media screen and (max-width: 450px) {
	.inputWrapper .pickedColor{
		display: none;
	}
}